@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,700;0,800;0,900;1,500;1,600&display=swap');
*{
   margin:0;
   padding:0;
   box-sizing:border-box;
   font-family: 'Poppins', sans-serif;
   list-style-type: none;
   text-decoration: none;
}
:root{
   --primary:#3DCFD3;
   --dark:#161616;
   --pure:#FFFFFF;
   --ternary:#898989;
   --light:#F2F2F2;
   --secondary:#070606;
}
/* * Univesal classe */
.flex{
   display: flex;
   align-items: center;
   flex-wrap: wrap;
}
.container{
   max-width: 1152px;
   margin: 0 auto;
   padding: 0 15px;
}
ul{
   list-style-type: none;
}
a{
   text-decoration: none;
}
.primary-btn{
   display: inline-block;
   padding: 12.8px 48px;
   background-color: var(--primary);
   color: #000;
   font-family: Arial, Helvetica, sans-serif;
}

/** Header Area Style */
.header{
   
}